*, *::before, *::after {
    box-sizing: border-box;
}

:root {

    --clr-primary: hsl(336, 34%, 38%);
    --clr-primary-dim: rgba(130 64 90 1);
    --clr-drk: 	hsl(23, 35%, 21%);
    --clr-lite: hsl(22, 100%, 88%);
    --clr-correct: hsl(104, 15%, 49%);
    --clr-wrong: hsl(10, 44%, 49%);

    --primary-font: "neuzeit-grotesk", sans-serif;
    --timer-font: "sanvito-pro-caption, sans-serif";

    --font-weight-thin: 300;
    --font-weight-bold: 700;

    --font-size-xlarge: 3.25rem;
    --font-size-large: 2.8rem;
    --font-size-medium: 2.3rem;
    --font-size-small: 1.75rem;
    --font-size-xsmall: 1.25rem;
}

html {
    background-image: url("../images/background-mobile.png");
    background-color: white;
    width: 100vw;
    background-size: cover;
    font-family: var(--primary-font);
    font-weight: var(--font-weight-bold);
    color: var(--clr-primary);
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#highScore-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.highScore__menu__icon {
    background-color: var(--clr-primary);
    height: .45rem;
    width: 2rem;
    margin-bottom: .23rem;
    border-radius: 0 .2rem .2rem 0;
}

#highScore-menu-top {
    margin-top: 1em;
}

main {
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quiz__title, .quiz__complete__text {
    display: flex;
    justify-content: center;
    margin: 4rem 0 0;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    flex-basis: 100%;
}

.quiz__score {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--clr-lite);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--clr-drk);
    font-family: var(--primary-font);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    flex-basis: 100%;
}

.thin {
    display: flex;
    justify-content: center;
    margin: -.5rem 0 1rem 0;
    font-weight: var(--font-weight-thin);
    color: var(--clr-drk);
    width: 100%;
    font-size: var(--font-size-large);
    flex-basis: 100%;
}

.start__btn, .next__btn, .restart__btn {
    margin: 2rem;
    padding: .75rem 1.75rem;
    background-color: var(--clr-primary);
    color: var(--clr-lite);
    border: .5px solid var(--clr-drk);
    border-radius: 2rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.timer__container, .quiz__container, .quiz__complete__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question__container, .highScore__scores__header {
    margin-top: 4.5rem;
    font-weight: var(--font-weight-thin);
    color: var(--clr-drk);
    font-size: var(--font-size-medium);
    text-align: center;
}

.initials__label {
    display: flex;
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-bold);
    color: var(--clr-drk);
    justify-content: center;
    align-items: center;
}

.initials {
    width: 30%;
    height: 2.5rem;
    background-color: var(--clr-lite);
    border: 1px solid var(--clr-primary);
    border-radius: 2rem;
    margin: .5rem 35%;
}
input[class="initials"] {
    color: var(--clr-drk);
    font-family: var(--primary-font);
    font-size: var(--font-size-xsmall);
    text-align: center;
}

.answerButtons__container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 2rem auto 0;
}

.btn {
    margin: .25rem auto;
    padding: .25rem 1rem;
    background-color: var(--clr-primary);
    color: var(--clr-lite);
    border: .5px solid var(--clr-drk);
    border-radius: 2rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.answer-btn {
    margin: .25rem auto;
    padding: .25rem 1rem;
    max-width: 80%;
    background-color: var(--clr-lite);
    color: var(--clr-primary);
    border: .5px solid var(--clr-drk);
    border-radius: 2rem;
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-thin);

}

.answer-btn:hover {
    border: 1px solid var(--clr-primary);
    box-shadow: 0 0 5px 1px var(--clr-primary);
    opacity: .8;
}

.btn:hover, .start__btn:hover, .next__btn:hover, .restart__btn:hover {
    border: .5px solid var(--clr-lite);
    opacity: .8;
}

.correct {
    background-color: var(--clr-correct);
    color: var(--clr-drk);
}

.wrong {
    background-color: var(--clr-wrong);
    color: var(--clr-lite);
}

.timer__container {
    position: absolute;
    top: 0;
    right: 0;
}

.timer {
    font-family: var(--timer-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    color: var(--clr-lite);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--clr-primary);
    padding: 1.5rem 1.5rem 0 0 ;
    opacity: .8;
}

.highScore__bar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .9rem;
    height: 2rem;
    width: 60vw;
    background-color: var(--clr-primary);
    border-radius: 0 .2rem .2rem 0;
    z-index: 3;
}

.highScore__text, .goBack__text {
    position: absolute;
    top: .75rem;
    left: 2.75rem;
    color: var(--clr-lite);
    font-family: var(--primary-font);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
    z-index: 5;
}

.highScore__scores__header {
    font-size: var(--font-size-large);
}

.highScore__scores__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.highScore__score {
    display: flex;
    justify-content: center;
    margin: -.5rem 0 1rem 0;
    font-weight: var(--font-weight-thin);
    color: var(--clr-drk);
    width: 100%;
    font-size: var(--font-size-small);
    flex-basis: 100%;
}

#highScore-top {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.quiz__score__header {
    font-weight: var(--font-weight-thin);
    color: var(--clr-drk);
    font-size: var(--font-size-medium);
    text-align: center;
    margin: .5rem 0;
}

/* keep the highScore-bar and highScore-text separate */
.hide {
    display: none;
}