*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-image: url("/assets/images/background-mobile.png");
    background-color: white;
    width: 100vw;
    background-size: cover;
}